:root{
    --primary-100:#1E2022;
    --primary-200:#34373b;
    --primary-300:#F0F5F9;
    --accent-100:#788189;
    --accent-200:#e1e4e6;
    --text-100:#1E2022;
    --text-200:#52616B;
    --bg-100:#F0F5F9;
    --bg-200:#C9D6DF;
    --bg-300:#bfc7d1;
      
    --faded-black:#00000045;
    --faded-grey:#3f3f3f27;
      
}

body{
    background: var(--bg-100);
}

div{
    color:var(--text-100);
}
.sidebar{
    background-color: var(--bg-200);
}
.sidebar .nav-item svg{
    fill:var(--primary-100)
}
.sidebar .nav-item:hover{
    background-color: var(--bg-300);
}
.sidebar .nav-item:hover svg{
    fill: var(--accent-100);
}

.focus-nav{
    border-bottom: 2px solid var(--accent-100);
    border-radius: 5px;
}
.sidebar .focus-nav:hover svg{
    fill: var(--primary-100);
}
.sidebar .focus-nav:hover{
    background-color: inherit;
    cursor: default;
}
.section>.header{
    color: var(--primary-100);
}
#section-home{

}
#section-home .content .sub-header{
    color: var(--accent-100);
}
#section-home svg{
    fill: var(--primary-100);
}
#section-search .inp input{
    background-color: var(--bg-300);
}

#section-search .inp #searchBtn{
    background-color: var(--text-200);
    color: var(--bg-100);
}
.sticky-note{
    box-shadow: 1px 1px 10px 1px black;
}
:is(.sticky-note,.notepad) .header{
    background-color: var(--primary-100);
}
:is(.sticky-note,.notepad) .header svg{
    fill: var(--accent-100);
}

textarea{
    background-color: var(--bg-300);
    color: var(--text-200);
}
.tooltip{
    background-color: var(--text-100);
    color: var(--bg-100);
}
#section-home .card .header{
    color: var(--primary-100);
}
#section-todo-list .btn{
    background-color: var(--primary-100);
    color: var(--bg-100);
}
#section-todo-list .btn:hover{
    background-color: var(--primary-200);
}
#section-notepad .title{
    color: var(--accent-100);
}