*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    scrollbar-width: none;
}
:root{
    --header-height:71.2px;
    --home-sidbar-widt:80px;
}
main{
    height: 100vh;
    width: 100vw;
}
.sidebar{
    height: 100%;
    padding: 10px 0;
    
    
}

.sidebar .nav-item{
    display: grid;
    place-content: center;
    padding: 20px;
    cursor: pointer;
}
.sidebar .nav-item svg{
    width: 17px;
}
#main-container{
    width: 100%;
    height: 100%;
}
.section{
    width: 100%;
    height: 100%;

}